@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

 .navbar{
    width: 100%;
    background: rgba(0, 0, 0, .2);
    /* box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow); */
    backdrop-filter: blur(24px);
    /* box-shadow: 10px 0px 15px 0px rgba(94, 182, 194, 0.505); */
    position: fixed;
    top: 0;
    animation: navbarMotion 3s ease-in infinite;
    z-index: 10;

    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 5rem;
        padding: 0 24px;
        margin: 0 auto;
        max-width: 1200px;

        .left{
            h1{
                color: rgb(182 235 255 / var(--tw-text-opacity, 1));
                font-family: sans-serif;
                font-weight: 700;
                span{
                    font-family: serif;
                }
            }
        }

        nav{
            
            ul{
                list-style: none;
                display: flex;
                gap: 32px;
                align-items: center;
                margin: 0;

                li{
                    display: inline;
                    color: rgba(255, 255, 255, .8);
                    font-weight: 500;
                    font-size: 15px;
                    a{
                        text-decoration: none;
                        color: inherit;
                        &:hover{
                            border-bottom: 1px solid #eee;
                            transition: all 3s ease-in;
                        }
                    }
                    span{
                        text-transform: uppercase;
                    }

                    button{
                        color: rgb(165 231 255 / var(--tw-text-opacity, 1));
                        font-size: 14px;
                        line-height: 1.2;
                        letter-spacing: 0.05em;
                        font-weight: 500;
                        font-family: "Inter";
                        padding: 0.5rem 1.5rem;
                        border: 1px solid transparent;
                        background: linear-gradient(#0A0A0B, #0A0A0B) padding-box, linear-gradient(135deg, #00D2FF 0%, #6e208c 100%) border-box;
                        transition: all 0.3s ease;
                        border-radius: 20px;
                        cursor: pointer;
                    }
                    button:hover{
                        background: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)) padding-box, linear-gradient(135deg, #00D2FF 0%, #6e208c 100%) border-box;
                        transition: 3s ease-in;
                    }
                }
            }
        }
        
    }
}

@keyframes navbarMotion {
    0%{
        box-shadow: 10px 0px 5px 0px rgba(94, 182, 194, 0.505);
    }
    33%{
        box-shadow: 10px 0px 15px 0px rgba(94, 182, 194, 0.505);
    }
    50%{
        box-shadow: 10px 0px 15px 0px rgba(104, 26, 138, 0.22);
    }
    100%{
        box-shadow: 10px 0px 5px 0px rgba(94, 182, 194, 0.505);
    }
}